<!DOCTYPE html>

<html>

	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mi Tienda</title>
        <link rel="stylesheet" href="./css/index.css">
        <link href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://unpkg.com/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

        <script src="https://unpkg.com/vue@2.x/dist/vue.js"></script>
        <script src="https://unpkg.com/vuex@3.x/dist/vuex.js"></script>
        <script src="https://unpkg.com/vuetify@2.x/dist/vuetify.js"></script>
    </head>

	<div id="app">
		<v-app>
			<v-main class="purple darken-4">
				<v-container>
                    <v-row>
                        <v-col sm="12" lg="12">
                            <div class="d-flex justify-center">
                                <h1 style="color:white">
                                    Mi Tienda, Luna de Plutón
                                </h1>
                            </div> 
                        </v-col>
                    </v-row>

					<v-row>
                        <v-col sm="12" lg="6">
                            <v-card
                                elevation="4"
                                outlined
                                class="red accent-3"
                                style="padding: 20px"
                            >
                                <Lista></Lista>

                            </v-card>
                        </v-col>

                        <v-col sm="12" lg="6">
                            <v-card
                                elevation="4"
                                outlined
                                class="red accent-3"
                                style="padding: 20px"
                            >
                            <h1 style="color:white">Carrito</h1>
                            <br/> 
                                <Carrito></Carrito>
                            </v-card>
                        </v-col> 
					</v-row>
				</v-container>
			</v-main>
		</v-app>
	</div>
    <script src="../js/code.js" type="text/javascript"></script>
    <script>
        const carritoCompras = new Vuex.Store({
            state: {
                carrito: [],
                productos: [
                    {
                        nombre: "Canela",
                        descripcion: "Es un gran ingrediente para hornear pan aunque también contrasta muy bien con la carne roja.",
                        imagen: "./images/canela.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Pimienta Rosa",
                        descripcion: "Pica menos que las demás pimientas y se utiliza como aromatizante en postres o sazonador de carnes blancas y cerdo.",
                        imagen: "./images/pimientarosa.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Nuez Moscada", 
                        descripcion: "Sabor dulce y terroso es muy importante en la salsa bechamel y las tartas de manzana.",
                        imagen: "./images/nuezmoscada.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Cúrcuma",
                        descripcion: "Es muy buena para desinflamar y curar enfermedades respiratorias, aporta mucha profundidad y equilibra sabores.",
                        imagen: "./images/curcuma.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Jengibre",
                        descripcion: "Proporciona un toque picante a las preparaciones, además es antibiótico y antiinflamatorio natural.",
                        imagen: "./images/jengibre.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Wasabe", 
                        descripcion: "Se usa en pequeñas proporciones por su intenso aroma y pungencia.",
                        imagen: "./images/wasabe.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Paprika", 
                        descripcion: "En Europa le llaman pimentón o guindas a los chiles conocidos como secos en México. Por el tipo de suelo desarrollan una pungencia moderada.",
                        imagen: "./images/paprika.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Azafrán", 
                        descripcion: "Tiene propiedades antidepresivas y antioxidantes. Es el colorante tradicional de la paella, y también va muy bien con mariscos y sopas.",
                        imagen: "./images/azafran.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Comino", 
                        descripcion: "Esta semilla delgada y alargada potencia su sabor amargo y especiado al calentarse.",
                        imagen: "./images/comino.jpg",
                        cantidad: 0,
                        posicion: null
                    },
                    {
                        nombre: "Achiote", 
                        descripcion: "El sabor es ácido y dulce, y es el ingrediente que le da color a la cochinitia pibil.",
                        imagen: "./images/achiote.jpg",
                        cantidad: 0,
                        posicion: null
                    }
                ],
            },
            mutations: {
                addProduct(state, producto) {
                    for(let i = 0; i < state.productos.length; i++){
                        if(producto.nombre == state.productos[i].nombre) {
                            state.productos[i].cantidad++;
                        }
                    }
                    state.carrito = [...state.productos].filter((a) => a.cantidad > 0);
                    state.carrito.sort((a, b) => b.cantidad - a.cantidad);
                },
            }
        })
    </script>
    <script>
        Vue.component("Lista", {
            data() {
                return {}
            },
            template: `
                <div>
                <h1 style="color:white">Objetos</h1>
                <br/>
                <v-row>
                    <v-col sm="12" lg="6"
                    v-for="prod in productos"
                    :key="prod.nombre"
                    :nombre="prod.nombre"
                    :descripcion="prod.descripcion"
                    >
                        <v-card class="white">
                            <v-img
                                class="mx-auto my-auto"
                                :src="prod.imagen"
                            >
                            </v-img>
                            <v-card-title>{{prod.nombre}}</v-card-title>
                            <v-card-text >
                                {{prod.descripcion}}
                            </v-card-text>
                            <v-row>
                                <v-col class="text-center">
                                    <v-btn 
                                        class="purple darken-4"
                                        @click="addProduct(prod)"
                                    >
                                        <p style="color: white; margin-top: 10px">+ 1</p>
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
                </div>`,
                computed: {
                    ...Vuex.mapState(["productos"])
                },
                methods: {
                    ...Vuex.mapMutations(['addProduct'])
                }
        })
    </script>

    <script>
        Vue.component("Carrito", {
            data() {
                return {}
            },
            template: `
                <div>
                    <v-row>
                        <v-col sm="12" lg="12"
                            v-for="item in carrito"
                            :key="item.nombre"
                            :nombre="item.nombre"
                            :descripcion="item.descripcion"
                            :cantidad="item.cantidad"
                        >
                            <v-card class="white">
                                <v-row>
                                    <v-col sm="12" lg="5">
                                        <v-img
                                        :src="item.imagen"
                                        class="my-auto mx-auto"
                                        >
                                        </v-img>
                                    </v-col>
                                    <v-col sm="12" lg="7">
                                        <v-card-title>{{item.nombre}}</v-card-title>
                                        <v-card-text >
                                            {{item.descripcion}}
                                        </v-card-text>
                                        <v-card-text>
                                            Cantidad: {{item.cantidad}}
                                        </v-card-text>
                                    </v-col>
                                </v-row>
                            </v-card>
                            <br/>
                            
                        </v-col>
                    </v-row>
                </div>`,
                computed: {
                    ...Vuex.mapState(["carrito", "productos"])
                }
        })
    </script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            store: carritoCompras,
            data: {
                
            }
        })
    </script>

</html>

